<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="manifest" href="manifest.json">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" class="uk-container uk-container-center" v-cloak>
      <nav class="uk-navbar">
        <ul class="uk-navbar-nav uk-navbar-content uk-visible-large">
          <li>
            <router-link class="uk-navbar-brand" to="/me">
              Jealous Wilks
            </router-link>
          </li>
          <li>
            <router-link active-class="uk-active" to="/me">Me</router-link>
          </li>
          <li>
            <router-link active-class="uk-active" to="/opponents">Opponents</router-link>
          </li>
          <li>
            <router-link active-class="uk-active" to="/competition">Competition</router-link>
          </li>
        </ul>
        <div class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas="{target:'#my-id'}"></div>
        <div>
          <router-link class="uk-navbar-brand uk-navbar-center uk-hidden-large uk-text-nowrap" to="/">
              Jealous Wilks
          </router-link>
        </div>

        <div id="my-id" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                  <li class="uk-nav-header">Jealous Wilks</li>
                  <li>
                    <router-link class="uk-offcanvas-close" active-class="uk-active" to="/me">Me</router-link>
                  </li>
                  <li>
                    <router-link class="uk-offcanvas-close" active-class="uk-active" to="/opponents">Opponents</router-link>
                  </li>
                  <li>
                    <router-link class="uk-offcanvas-close" active-class="uk-active" to="/competition">Competition</router-link>
                  </li>
                </ul>
            </div>
        </div>
      </nav>
      <router-view></router-view>
    </div>
  </body>
</html>