<div class="uk-container uk-container-center uk-margin-top">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="uk-heading-large">Jealous Wilks</h1>
            <p class="uk-text-large">Because maths is harder than lifting</p>
        </div>
        <div class="uk-width-1-1">
            <h2>Get Started</h2>
            <ul>
                <li>
                    Set up <router-link active-class="uk-active" to="/me">your stats</router-link>.
                </li>
                <li>
                    Set up <router-link active-class="uk-active" to="/opponents">your opponents</router-link>.
                </li>
                <li>
                    Manage <router-link active-class="uk-active" to="/competition">your competition</router-link>.
                </li>
            </ul>
        </div>
    </div>
</div>